{% load static %}

<html>
    <head>
        <title>Utility.</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Adamina&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <div class="page-header">
            <h1><a href="{% url 'home' %}">Utility.</a></h1> 
            <div class="navbar">
                <ul class="nav">
                    <li><a href="{% url 'blog'}" style="text-decoration: none">BLOG</a></li>
                    <li><a href="#" style="text-decoration: none">CLASSICS</a></li>
                    <li><a href="#" style="text-decoration: none">MUST HAVES</a></li>
                        {% if user.is_authenticated %}
                        <li>
                            <form class="logout-link" action="/accounts/logout/" method="POST">
                                {% csrf_token %}
                                <button type="submit">LOGOUT</button>
                            </form>
                        </li>
                        <li><a href="{% url 'post_new' %}">CREATE POST</a></li>
                        {% else %}
                        <li><a href="{% url 'accounts:login' %}">LOGIN</a></li>
                        <li><a href="{% url 'accounts:signup' %}">SIGN UP</a></li>
                        {% endif %}
                    </ul>
            </div>
        </div>


    {% block content %}
    {% endblock %}

    </body>

    <footer>
        <div class="row">
        <div class="col-md-4">
            <a href="imprint.html" id="imprint">IMPRINT</a> 
        </div>
    
        <div class="col-md-4">
            <h8>Utility.</h8>
                <div class="navfooter">
                    <ul class="navfoot">
                        <li><a href="https://de-de.facebook.com/"><img src="static/bilder/facebook.png"></a></li>
                        <li><a href="https://www.pinterest.de/"><img src="static/bilder/pinterest.png"></a></li>
                        <li><a href="https://www.instagram.com/"><img src="static/bilder/instagram.png"></a></li>
                        <li><a href="https://www.youtube.com/?gl=DE&hl=de"><img src="static/bilder/youtube.png"></a></li>
                        <li><a href="https://twitter.com/?lang=de"><img src="static/bilder/twitter.png"></a></li>
                    </ul>
                </div>
        </div>
    
        <div class="col-md-4">
            <a href="contact.html" id="contact">CONTACT</a> 
        </div>
        </div>
    </footer>
</html>