{% extends 'blog/base.html' %}
{% load static %}

        {% block content %}
        <div class="abstand"></div>
        <div class="post">
            <h6>{{ post.title }}</h6>
            <br>
            <br>
            <br>
            {% if post.published_date %}
                <div class="date">
                    veröffentlicht: {{ post.published_date }} (Autor: {{ post.author }})
                </div>
            {% endif %}
            {% if post.thumb %}
            <p class="imgzentriert">
            <img src="{{ post.thumb.url }}">
            </p>
            <br>
            <br>
            {% endif %}
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="tags">
                Tags: {{ post.tags }}
            </div>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Edit Post</span></a>
        </div>
        {% endblock %}