{% extends 'blog/base.html' %}
{% load static %}

        {% block content %}

        <div id="homescreen">
            <img src="\static\bilder\homeneu.jpg" width="100%">
                <div id="homeblock">
                    <h3>"Everyday is a fashion show</h3>
                    <h4>and the world is the runway."</h4>
                    <h5>COCO CHANEL</h5>
                </div>
        </div>  

        <div class="contentcontainer">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                            <div class="date">
                                <p>veröffentlicht: {{ post.published_date }} (Autor: {{ post.author }})</p>
                            </div>
                            <img src="{{Post.thumb.url}}">
                            <p>{{ post.snippet }}</p>
                            <p class="tags">Tags: {{ post.tags }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <img class="sideimg" src="\static\bilder\sidebar.jpeg" width="70%">  
                        <div>
                            <br>
                            <br>
                            <br>
                            <h4>Welcome!</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                            <br>
                            <p>PLEASE SIGN UP OR LOGIN IN IF YOU WANT TO CREATE A POST.</p>
                        </div>                      
                    </div>                    
                </div>
            </div>
        </div>

        {% endblock %}
