{% extends 'blog/base.html' %}
{% load static %}

        {% block content %}

        <div id="homescreen">
            <img src="\static\bilder\homeneu.jpg" width="100%">
                <div id="homeblock">
                    <h3>"Everyday is a fashion show</h3>
                    <h4>and the world is the runway."</h4>
                    <h5>COCO CHANEL</h5>
                </div>
        </div>  

        <div class="contentcontainer">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                            <div class="date">
                                <p>veröffentlicht: {{ post.published_date }} (Autor: {{ post.author }})</p>
                            </div>
                            <img src="{{Post.thumb.url}}">
                            <p>{{ post.snippet}}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        
                    </div>                    
                </div>
            </div>
        </div>

        {% endblock %}
