h1{
    font-family: 'Special Elite';
    margin-bottom: 0%;
}

h1 a, h2 a {
    font-family: 'Special Elite';
    text-decoration: none;
}

h2{
    font-family: 'Special Elite';
    font-size: 45px;
    margin-left: -2%;
}

h3{
    font-family: 'Special Elite', sans-serif;
    font-size: 45px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}

h4{
    font-family: 'Special Elite', sans-serif;
    font-size: 45px;
    display: table;
    text-align: center;
    margin-top: -4%;
    margin-bottom: 2%; 
    margin-left: auto;
    margin-right: auto;
}

h5{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4%;
}

h6{
    font-family: 'Special Elite';
    font-size: 45px;
    margin-left: 0%;
    margin-bottom: 0%;
}

h8{
    font-family: 'Special Elite';
    font-size: 25px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 2%;
}

body {
    padding-left: 0%;
    width:100%;
}

.page-header {
    position: fixed;
    background-color:white;
    width: 100%;
    margin-top: 0%;
    z-index: 999;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: black;
    font-size: 36pt;
    text-align: center;
    text-decoration: none;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color:white;
}

.nav{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.navbar li{
    font-size: 14px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

a{
    font-family: 'Montserrat';
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: 14px;
}

a:hover{
    color: black;
    text-decoration: none;
}

#homescreen{
    width: 100%;
    padding-top: 11%;

}

#homeblock{
    width: 60%;
    align-content: center;
    position: absolute;
    background-color: white;
    background-color: hsla(0, 0%, 100%, 0.7);
    margin-top: -27%;
    margin-left: 20%;
}

.content {
    margin-left: 0%;
    padding-top: 4%;
}

.contentcontainer{
    margin-top: 5%;
    margin-left: 0%;
}

.sidebar{
    height:200%;
    background-color: #f0f0f0;
    margin-right: 10%;
    margin-top: 5%;
    margin-left: 0%
}

h1, h2, h3, h4 {
    font-family: 'Special Elite', cursive;
}

.date {
    color: #828282;
    margin-top: -2%;
    margin-bottom: 5%;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 50px;
    margin-left: 4%;
    margin-right: 4%;
    border-bottom: #f0f0f0;
    border-bottom-style: solid;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.edit{
    padding-top:15%;
    margin-left: 4%;
    margin-right: 4%;
}

footer{
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: #f0f0f0;
}

.navfooter{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: -10%;
    margin-right: auto;
}

.navfoot{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.navfooter img{
    height: 20px;
    margin-top: 1%;
}

#imprint{
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

#contact{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.col-md-4 a{
    text-decoration: none;
}

.abstand{
    padding-top: 15%;
}

.edit{
    margin-bottom: 5%;
}
